#The database can choose to use 
#either local Mysql or cloud based Supbase
IS_SUPABASE=false

#your_db_user
DB_USER=root
#your_db_password
DB_PASSWORD=123456
#your_db_host
DB_HOST=localhost 
#your_db_port
DB_PORT=3306
#your_db_name
DB_NAME=xiaobaicai

SUPABASE_URL=https://your-project.supabase.co
SUPABASE_KEY=your_publishable_or_service_role_key

ADMIN_TOKEN=your_admin_token